@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.content {
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text);
  gap: $space-4;

  h1 {
    font-size: 32px;
    margin-bottom: $space-2;
    color: var(--text);
  }

  &_png{
    width: 300px;
    height: 300px;
    border-radius: $radius-md;
  }



  &_title {
    width: 450px;
    padding: $space-2;
    border-radius: $radius-md;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);
    color: var(--text);
    font-size: 18px;

    @include transition(box-shadow, 300ms);

    &:focus {
      box-shadow: 0 0 10px rgba(12, 16, 40, 0.4);
      outline: none;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
      font-size: 18px;
    }
  }

  textarea {
    width: 450px;
    height: 100px;
    padding: $space-2;
    color: var(--text);
    font-size: 18px;
    border-radius: $radius-md;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);

    resize: vertical;

    @include transition(box-shadow, 300ms);

    &:focus {
      box-shadow: 0 0 10px rgba(12, 16, 40, 0.4);
      outline: none;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
      font-size: 18px;
    }

  }

  &_error{
    color: #a11212;
    font-size: 15px;
  }

  &_btn{
    border-radius: $radius-md;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: $accent;
    padding: 20px 180px;
    font-size: 20px;
    color: var(--text);
  }

}
