@use '../../styles/variables' as *;
@use '../../styles/_mixins' as *;

.empty{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: $space-4;
  align-items: center;
  justify-content: center;

  img {
    border-radius: $radius-lg;
  }
}