@use '../../styles/variables' as *;
@use '../../styles/_mixins' as *;

.content{
  margin: 40px 100px;
  padding: 50px;
  border-radius: $radius-md;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background: #151e38;

  img{
    width: 620px;
    height: 100%;
    border-radius: $radius-md;
    box-shadow: 0 10px 15px rgba(2,6,23,0.6);
  }

  &_info{
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: $space-3;
    &_btn{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $space-3;
      margin-top: $space-4;


      &_heart{
        display: flex;
        align-items: center;
        gap: $space-2;
        background: red;
        padding: $space-2;
        border-radius: $radius-md;
        background: $accent;
        box-shadow: 0 5px 8px rgba(2,6,23,0.6);
        font-size: 21px;
        color: var(--text);
        @include transition(transform, 420ms);
        img{
          width: 34px;
          box-shadow: none
        }
        &:hover {
          transform: translateY(-5px) scale(1.01);
          box-shadow: 0 10px 15px rgba(12,16,40,0.6);
        }
        &:active {
          transform: translateY(-2px);
        }
      }

      &_delete{
        display: flex;
        align-items: center;
        gap: $space-2;
        padding: $space-2;
        border-radius: $radius-md;
        background: #6b1a1a;
        box-shadow: 0 5px 8px rgba(2,6,23,0.6);
        font-size: 21px;
        @include transition(transform, 420ms);
        color: var(--text);

        img{
          width: 34px;
          box-shadow: none
        }
        &:hover {
          transform: translateY(-5px) scale(1.01);
          box-shadow: 0 10px 15px rgba(12,16,40,0.6);
        }

        &:active {
          transform: translateY(-2px);
        }
      }

    }

    &_link{
      width: 250px;
      gap: $space-1;
      display: flex;
      align-items: center;
      background: #315c83;
      margin-top: $space-4;
      padding:$space-1 $space-2;
      border-radius: $radius-md;
      p{
        color: var(--text);

        font-size: 19px;
      }
      .arrow_img{
        width: 34px;
        background: transparent;
        box-shadow: none
      }
    }
  }
}